body {
  margin: 0;
  
}

.header {
  display: flex;
  background-color:rgb(231, 231, 231);
  color: #93269e;
  min-height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

form{
  min-width: 940px;
  margin: 3% 10%;
  text-align: center;
}


input[type=text]{
  min-width: 100%;
  min-height: 3em;
  background-color:rgb(241, 241, 241);
  color: #93269e;
  padding: 1px 0 1px 0;
  margin: 0.1em 0;
  border: none;
  border-radius: 0.5em;
}

input[type=submit] {
  width: 100%;
  background-color: #93269e;
  color: white;
  padding: 0.8em 1.2em;
  margin: 0.1em 0; 
  border: none;
  border-radius:0.5em;
  cursor: pointer;
}

input[type=text].headerInput {
  min-width: 42%;
  margin: 0.2em 2.5%
}

input[type=text].headerInput.left {
  margin-left: 0;
}

input[type=text].headerInput.right {
  margin-right: 0;
}

input[type=submit]:hover{
  background-color:#5a0096;
}

button[type=button]{
  border: none;
  margin:1em;
  height: 2em;
  line-height: 2em;  
  width: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #93269e;
  color: white;
  text-align: center;
}

button[type=button]:hover{
  background-color: #5a0096;
}

button[type=button].remove{
  background-color: #ff8000;
  margin: 0.5em;
}

button[type=button].remove:hover{
  background-color: #ff0000;
}

table, th, td {
  border: 1px solid #f0f0f0;
}

table{
  width: 100%;
  margin: 2em;
  border-collapse: collapse;
  text-align: center;
  overflow-x: auto;
}

td {
  white-space:nowrap;
}


th,td{

  padding: 1em;
}

.hidden{
  display:none
}

.left{
  text-align: left;
}

.chosenHeaders:hover{
  background-color: #f1f1f1;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {

  form{
    min-width: 94%
  }  
}