body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header {
  display: flex;
  background-color:aliceblue;
  min-height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}